<!-- spacer section -->
<style>
<% if @user.context && @user.context.parallaxPicture != nil %>
  section.spacer.bg3 {
    background: #444 url(<%= @user.context.parallaxPicture.url %>) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  }
<% else %>
  section.spacer.bg3 {
    background: #444 url('/bg/bg-5.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  }
<% end %>
</style>
  <section class="spacer bg3" id="cover2">
     <% if user_signed_in? && current_user.context %>
        <button id="update-parallaxPicture" class="pull-left" data-contextid=<%= current_user.context.id %> hidden>Update Parallax Picture</button><br>
    <% else %>
        <button id="update-parallaxPicture" class="pull-left" data-contextid=<%= false %> hidden>Update Parallax Picture</button><br>
    <% end %>
  <div class="container">
    <div class="row">
      <div class="span12 aligncenter flyLeft">
        <blockquote class="large">
           We are the link between our present and your future
        </blockquote>
      </div>
      <div class="span12 aligncenter flyRight">
        <i class="icon-rocket icon-10x"></i>
      </div>
    </div>
  </div>
</section>

<!-- end spacer section -->
