<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @addressee %> </h1>
    <p>
      Congrats!!
      <%= @sender %> has make you a <%= @child.name %>'s Teller.
      Sample mail sent using smtp. html
    </p>
  </body>
</html>
