jQuery(document).ready(function($) {

  $("#search_filter").live("keypress", function(e) {
    if (e.keyCode == 13) {
       var inserted_tag = $(this)[0].value;
        reorderItems(inserted_tag,e,true);
        return false; // prevent the button click from happening
    }
  });

  function uploaderModal(){

    var pathname = window.location.pathname.split('/');
    var user_id = pathname[pathname.length-1];
    var uploadedFiles = [];

    // $('.modal-title').append('<div class="col-md-8 text-justify"> Upload Image </div>');
    $('.modal-body').append(
      // '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+
      '<div class="closeBtn"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button></div>'+
      '<div class="col-md-8 text-center"><b> Upload Image </b></div>'+
      '<form class="edit_user" id="edit_user_'+user_id+'" enctype="multipart/form-data" action="/users/'+user_id+'/stories" accept-charset="UTF-8" method="post">'+
        '<div class="field">'+
        '<label for="name">Name</label>'+
        '<input size="10" required="required" type="text" value="" name="story[name]" id="story_name">'+
        '</div>'+
        '<div class="field">'+
        '<label for="date">Date</label>'+
        '<input size="10" required="required" type="date" value="" name="story[date]" id="story_date">'+
        '</div>'+
        '<div id="drop" draggable="true">'+
            '<p> Drop Here </p><br>'+
            '<a> Browse </a>'+
            '<input type="file" name="story[avatar]" id="story_avatar" accept="image/*" capture="camera"/>'+
        '</div><br>'+
        '<div class="field">'+
        '<label for="tag">Tags<h6>(separate tags by commas)</h6></label>'+
        '<input size="10" required="required" type="text" name="story[tag]" id="story_tag">'+
        '</div>'+
        '<div class="field" hidden>'+
        '<label for="user_id">Teller</label>'+
        '<input type="text" name="story[user_id]" value="'+ user_id +'" id="user_id">'+
        '</div>'+
        '<input type="submit" name="commit" value="Save">'+
      '</form>'
      );
    $('#modal').modal('show'); 

    $('#drop a').click(function(){
        // Simulate a click on the file input button
        // to show the file browser dialog
        $(this).parent().find('input').click();
    });

    $('#story_avatar').on('change', function(e){

      var tgt = e.target || window.event.srcElement;

      uploadedFiles.push(tgt.files[0]);

      $('#drop a, #drop p').hide();

      $('#drop').append(
        '<ul><li class="working">'+
          '<input type="text" value="0" data-width="48" data-height="48"'+
          'data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" />'+
          '<p><i>'+ tgt.files[0].name+'</i></p>'+
          '<span></span>'+
        '</li></ul>'
      );

    });
    return false;
  };

  function imageModal(image){

    var title = image.find('img')[0].nextElementSibling.innerText;
    var srcImage = image.find('img').attr('src');
    var tags = "";
    
    if (image.find('img').attr('data-imageTag').charAt(0) != "[") {
      tags = image.find('img').attr('data-imageTag');
    }
    else {
      JSON.parse(image.find('img').attr('data-imageTag')).map(function (currentValue, index, array){
        tags === "" ? tags = currentValue : tags = tags + ", " + currentValue;
      });
    };

    // $('.modal-title').append('<div class="col-md-8 text-justify">'+ title +'</div>');
    $('.modal-body').append(
      '<div class="closeBtn"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button></div>'+
      '<div class="col-md-8 text-center"> <b>'+ title +'</b> </div><br>'+ 
      '<img src="'+ srcImage +'" class="imagepreview" style="width: 100%;" >'
      // '<img src='+ srcImage +' class="imagepreview img-responsive" style="width: 100%; height:100%" >'
    );
    $('.modal-footer').append('<div class="col-md-8 text-justify"> <b>Tags:</b> '+ tags +'</div>');
    $('#modal').modal('show'); 
  }

  //Reorder items
  function reorderItems(tagSelected, event=null, changeTagFilter=false){
    
    var storiesToShow = []
    var nextCounter;
    var allStories = JSON.parse(localStorage.getItem('allStories'));
    var oldStories = $('.timeline-content-item, .allStories');
    var firstStory = false;
    var lastStory = false;
    localStorage.setItem("tagSelected", tagSelected);

    $('#notFoundMessage').hide();
    $('#next').remove();
    oldStories.remove();
    changeTagFilter === true ? nextCounter = storyGroup : nextCounter = JSON.parse(localStorage.getItem("next"));

    $.each(allStories, function( index, story ) {
      $.each( story.tag, function( i, storyTag){
        if (storyTag === tagSelected || tagSelected === "*" || tagSelected === ""){
          storiesToShow.push(
            '<div class="timeline-content-item" data-timeline="hour-8">'+
              '<span>'+ story.date +'</span>'+
              '<div class="timeline-content-item-reveal">'+
                '<a class="pop">'+
                  '<img src='+ story.image +' alt="'+ story.name +'" data-imageTag='+ story.tag +' >'+
                  '<span>'+ story.name +'</span>'+
                '</a>'+
              '</div>'+
            '</div>'
            );
        }
      })
    })

    firstStory === true ? $('#prev').hide() : $('#prev').show();

    if (storiesToShow.length === 0) {
      $('#notFoundMessage').show();
      $('#prev').hide();
    }else{
      $.each(storiesToShow, function(index, filteredStory){
        if(index >= (nextCounter-storyGroup) && index < nextCounter){
          $('.timeline-content-day').append(filteredStory)
          if(index === 0){
            firstStory = true;
          }
          else if(index === storiesToShow.length-1){
            lastStory = true;
          }
        }
      });
    }

    if (nextCounter < storiesToShow.length && lastStory === false) {
      $('.timeline-content-day').append('<button id="next" class="corousel-btn next" >Next</button>');
    };

    addMouseEvent();
    addCorouselButtonEvent();
    addFilterEvent();
  }


  function addCorouselButtonEvent(){    

    $(".corousel-btn").unbind().on("click", function(e,data){
      var tagSelected;
      var nextCounter;
      var next = JSON.parse(localStorage.getItem("next"));

      if (data){
        tagSelected = data.tagSelected;
        next = 0;
      }else{
        next < storyGroup ? next = storyGroup : next = next;
      }
      
      if(e.target.id === "next"){
        nextCounter = next + storyGroup;
        localStorage.setItem("next", nextCounter);
      }else if(e.target.id === "prev"){
        nextCounter = next - storyGroup;
        localStorage.setItem("next", nextCounter);
      }
      
      tagSelected != undefined ? reorderItems(tagSelected,e) : reorderItems("*",e);
    });

    return false;
  }

  function cleanModal(){

    // $('.modal-title').empty();
    $('.modal-body').empty();
    $('.modal-footer').empty();

    return false;
  }

  function addMouseEvent(){
    $(".timeline-wrapper .timeline-content-item > span").on("mouseenter mouseleave", function(e){
      $(".timeline-wrapper .timeline-content-item.active").removeClass("active");
      $(this).parent().addClass("active");
    });

    $('.pop, .uploadImage').unbind().on('click', function() {

      cleanModal();

      switch ($(this).attr('class').split(" ")[0]) {
        case "pop":
          imageModal($(this));
          break;
        case "uploadImage":
          uploaderModal($(this));
          break;
      }

    });

    return false;
  }

  function addFilterEvent(){
    // filter items when filter link is clicked
    $('#filters a').unbind().on("click",function(e){
      $('#search_filter').val('');
      $('#filters a').removeClass('active');
      $(this).addClass('active');
      var selector = $(this).attr('data-filter');
      reorderItems(selector,null,true);
    });
      return false;
  }


  var storyGroup = 5;

  addMouseEvent();
  addCorouselButtonEvent();
  addFilterEvent();
});