jQuery(document).ready(function($) {

  var allStories = JSON.parse(localStorage.getItem('allStories'));

  $("#search_filter").live("keypress", function(e) {
    if (e.keyCode == 13) {
      $('#filters a').removeClass('active');
       var inserted_tag = $(this)[0].value;
        reorderItems(inserted_tag,e,true);
        return false; // prevent the button click from happening
    }
  });

  function getAllStories() {
    // Empty localStorage
    localStorage.clear();
    var url = window.location.pathname;
    var user_id = parseInt(url.split("/")[2]);
    var children_id = parseInt(url.substring(url.lastIndexOf('/') + 1));

    if (user_id && children_id) {
      return $.ajax({
        type: "GET",
        url: '/children/' + children_id + '/json_stories',
        contentType: 'application/x-www-form-urlencoded',
        headers: {"X-HTTP-Method-Override": "GET"},
        cacheControl: true,
        success: function (response, textStatus, errorThrown) {
          localStorage.setItem('allStories', JSON.stringify(response));
        },
        error: function (response, textStatus, errorThrown) {
            console.log('Ocurrió el siguiente error:' + errorThrown);
        }
      });
    }
    else {
      var sample_stories = [
        {"id":1,"name":"Week 12+1","tag":["first"],"date":"2016-10-02","image":"/line/Week_12+1.jpg","teller_id":2,"user_id":1},
        {"id":2,"name":"First smile","tag":["first","smiles"],"date":"2016-12-02","image":"/line/First_smile.jpg","teller_id":2,"user_id":1},
        {"id":3,"name":"Snail custom","tag":["custom"],"date":"2017-02-02","image":"/line/Snail_custom.jpg","teller_id":2,"user_id":1},
        {"id":4,"name":"Holiday","tag":["family","custom"],"date":"2017-05-02","image":"/line/Holiday.jpeg","teller_id":2,"user_id":1},
        {"id":5,"name":"Family","tag":["family","activity"],"date":"2017-08-02","image":"/line/Family.jpeg","teller_id":2,"user_id":1},
        {"id":6,"name":"Beach trip","tag":["trip","activity"],"date":"2017-10-02","image":"/line/Beach_trip.jpeg","teller_id":2,"user_id":1},
        {"id":7,"name":"Cuddle","tag":["family"],"date":"2018-01-02","image":"/line/Cuddle.jpg","teller_id":2,"user_id":1},
        {"id":8,"name":"Dinosaur","tag":["custom"],"date":"2018-03-02","image":"/line/Dinosaur.jpg","teller_id":2,"user_id":1},
        {"id":9,"name":"Road trip","tag":["trip","smiles"],"date":"2018-05-02","image":"/line/Road_trip.jpeg","teller_id":2,"user_id":1},
        {"id":10,"name":"Mariachi","tag":["custom"],"date":"2018-08-02","image":"/line/Mariachi.jpeg","teller_id":2,"user_id":1}
      ];

      localStorage.setItem('allStories', JSON.stringify(sample_stories));
    }
  };

  function resizeModal(imgHeight,imgWidth){

    var maxWidth = $(window).width()*0.9;
    var maxHeight = $(window).height()*0.9;
    var modalHeaderHeight = 60;

    var heightToShowModal = 0;
    var widthToShowModal = 0;
    var heightToShowImgage = 0;
    var widthToShowImage = 0;

    if (maxHeight >= (imgHeight+modalHeaderHeight)*1.15) {
      heightToShowModal = (imgHeight+modalHeaderHeight);
      heightToShowImgage = imgHeight;
    }else {
      heightToShowModal = maxHeight;
      heightToShowImgage = heightToShowModal*0.85;
    }

    $('.modal').css({'maxHeight': maxHeight, 'height': heightToShowModal*1.15, 'maxWidth': maxWidth, 'width': imgWidth});
    $('.modal-dialog').css({'maxHeight': maxHeight, 'height': heightToShowModal, 'maxWidth': maxWidth, 'width': imgWidth});
    $('.modal-content').css({'maxHeight': maxHeight, 'height': heightToShowModal, 'maxWidth': maxWidth, 'width': imgWidth});
    $('.modal-body').css({'maxHeight': maxHeight, 'height': heightToShowModal*0.9, 'maxWidth': maxWidth, 'width': imgWidth});
    $('.modal-body img').css({'maxHeight': heightToShowModal*0.9, 'height': heightToShowImgage, 'maxWidth': maxWidth});

  }

  function uploaderModal(){
    $('#drop a, #drop p').show();
    $('#drop ul').empty();
    $('#story_name').val("");

    var pathname = window.location.pathname.split('/');
    var user_id = pathname[pathname.length-1];
    var uploadedFiles = [];
    var tagValues = [];
    var action = '/users/'+user_id+'/stories';
    var form_id = 'edit_user_'+user_id;
    var method = "post";

    // $('#uploader-modal .modal-content').append(
      // '<div class="modal-body">'+
      //
      //   '<div class="closeBtn"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button></div>'+
      //   '<div class="col-md-8 text-center"><b> Upload Image </b></div>'+
      //
      //   '<form class="edit_user" id='+form_id+' enctype="multipart/form-data" action='+action+' accept-charset="UTF-8" method='+method+'>'+
      //     '<div class="field">'+
      //       '<label for="name">Name</label>'+
      //       '<input size="10" required="required" type="text" name="story[name]" id="story_name">'+
      //     '</div>'+
      //     '<div class="field">'+
      //       '<label for="date">Date</label>'+
      //       '<input size="10" required="required" type="date" value="" name="story[date]" id="story_date">'+
      //     '</div>'+
      //     '<div id="drop" draggable="true">'+
      //       '<p> Drop Here </p><br>'+
      //       '<a> Browse </a>'+
      //       '<input type="file" name="story[avatar]" id="story_avatar" accept="image/*" capture="camera" required="required" />'+
      //     '</div><br>'+
      //     '<div class="field" id="tagContainer">'+
      //       '<label for="tag">Tags</label>'+
      //       '<input size="10" type="text" name="story[tag]" id="story_tag" required="required" >'+
      //     '</div><br>'+
      //     '<div class="field" hidden>'+
      //       '<label for="user_id">Teller</label>'+
      //       '<input type="text" name="story[user_id]" value="'+ user_id +'" id="user_id" required="required" >'+
      //     '</div>'+
      //     '<input type="button" name="commit" value="Save" id="submitBtn" >'+
      //   '</form>'+
      //
      // '</div>'
    // );

    $('#uploader-modal').modal('show');

    // resizeModal();

    $(window).keydown(function(event){
    if( event.keyCode == 13 && event.target.id != "story_tag" ) {
      event.preventDefault();
      return false;
    }
  });

    $("form input[type=submit]").click(function() {
      //Prepare tags
      var tags = "";
      $.each(tagValues,function(index,tag){
        tag != "" ? tags += tag + ";" : false;
      })
      $('#story_tag').val(tags);

      // var data = {
      //   name : $('#story_name').val(),
      //   date : $('#story_date').val() || fileDate.getFullYear()+"-"+(fileDate.getMonth()+1)+"-"+fileDate.getDay(),
      //   avatar : $('#story_avatar')[0].files,
      //   // avatar : JSON.stringify($('#story_avatar')[0].files[0]),
      //   // avatar : "hola",
      //   tag : $('#story_tag').val(),
      //   user_id : user_id,
      //   commit : "Save"
      // }
      //
      // var request = $.post( action, {
      //    method: "POST",
      //     connection: "keep-alive",
      //     pragma: "no-cache",
      //     cache: false,
      //     processData: false,
      //     headers: {"Authorization": window._token, "method": "POST", "X-HTTP-Method-Override":"GET"},
      //     contentType: "application/x-www-form-urlencoded",
      //     contentType: "application/json; charset=utf-8",
      //     dataType: "json",
      //     story: data
      //  });
      //
      // request.done(function( msg ) {
      //   debugger
      // });
      //
      // request.fail(function( jqXHR, textStatus ) {
      //   debugger
      //   console.log( "Status: " + textStatus + "Response: " + jqXHR.responseText );
      // });

    });

    function createTags(event){
      var $element = $(event.target);
      var val = $element.val().replace('"', '\\"');

      if (val.replace(/\s/g, '').length != 0) {

        $('#story_tag').val('')
        $('#tagContainer').append(
          '<div class="tag label label-info" role="alert">'+
            '<strong>'+val+' </strong>'+
            '<button type="button" class="close closeTag" data-dismiss="alert" aria-label="Close">'+
              '<span aria-hidden="true"> &times;</span>'+
            '</button>'+
          '</div>'
          );

        $('.closeTag').on('click',function(event){
          var tagToDelete = event.currentTarget.previousElementSibling.innerText.replace(/\s/g, '');

          $.each(tagValues,function(index,tag){
            if(tagToDelete === tag.replace(/\s/g, '')){
              tagValues[index] = "";
            }
          });

        })

        tagValues = [];

        $.each($(".tag strong"), function( index, tag ) { tagValues.push(tag.innerText) });
      }

      event.preventDefault();
      return false;

    }

    $('#story_tag').on('keypress', function(event) {
      if (event.keyCode == 0 || event.keyCode == 13){
        createTags(event);
      }
    });

    $('#story_tag').focusout(function(event) {
      createTags(event);
    });


    // $('#drop a').click(function(){
        // Simulate a click on the file input button
        // to show the file browser dialog
        // $(this).parent().find('input').click();
    // });

    $('#story_avatar').on('change', function(e){
      var tgt = e.target || window.event.srcElement;

      uploadedFiles.push(tgt.files[0]);

      $('#drop a, #drop p').hide();

      $('#drop').append(
        '<ul><li class="working">'+
          '<input type="text" value="0" data-width="48" data-height="48"'+
          'data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" />'+
          '<p><i>'+ tgt.files[0].name+'</i></p>'+
          '<span></span>'+
        '</li></ul>'
      );

      //Parse date
      var fileDate = $('#story_avatar')[0].files[0].lastModifiedDate;
      var year = fileDate.getFullYear();
      var month = ('' + (fileDate.getMonth() + 1)).length < 2 ? '0' + (fileDate.getMonth() + 1) : '' + (fileDate.getMonth() + 1);
      var day = ('' + fileDate.getDate()).length < 2 ? '0' + fileDate.getDate() : '' + fileDate.getDate();
      var date = [year, month, day].join('-');

      $('#story_date').val(date);

      //Parse title
      var fileType = $('#story_avatar')[0].files[0].type;
      fileType = fileType.split('/')[fileType.split('/').length-1];

      var fileTitle = $('#story_avatar')[0].files[0].name;
      fileTitle = fileTitle.substring(0, fileTitle.indexOf(fileType));

      $('#story_name').val(fileTitle);

    });
    return false;
  };

  function imageModal(event){

    var image = event.find('img');
    var title = image[0].nextElementSibling.innerText;
    var srcImage = image.attr('src');
    var tags = "";
    var imgHeight = image[0].naturalHeight;
    var imgWidth = image[0].naturalWidth;
    var storyId = image.attr('data-storyId');
    var allStories = JSON.parse(localStorage.getItem('allStories'));


    if (image.attr('data-imageTag').charAt(0) != "[" ) {
      tags = image.attr('data-imageTag');
    }
    else if (image.attr('data-imageTag').charAt(image.attr('data-imageTag').length-1) == "]"){
      JSON.parse(image.attr('data-imageTag')).map(function (currentValue, index, array){
        tags === "" ? tags = currentValue : tags = tags + ", " + currentValue;
      });
    };

    $('#carousel-modal .modal-content').empty();

    $('#carousel-modal .modal-content').append(
      '<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">'+
        '<!-- Wrapper for slides -->'+
        '<div class="carousel-inner">'+

        '</div>'+
      '</div>'+

      '<!-- Controls -->'+
        '<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">'+
          '<i class="icon-angle-left icon-2x"></i>'+
        '</a>'+
        '<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">'+
          '<i class="icon-angle-right icon-2x"></i>'+
        '</a>'
    );

    $.each(allStories, function( index, story ) {

      var tags = "";

      $.each(story.tag, function( i, tag){
        i == 0 ? tags = tag : tags+=", "+tag;
      })

      $('.carousel-inner').append(
        '<div class="item" id='+"story_"+story.id+' >'+
         '<img class="img-responsive" src='+ story.image +' alt='+story.name+' >'+
          '<div class="carousel-caption">'+
            '<span class="pull-left"> '+story.name+' </span>'+
            '<span class="pull-right">Tags: '+ tags +'. </span>'+

          '</div>'+
        '</div>'
      )

    })

    $('#'+storyId+'').addClass('active');

    $('.carousel').carousel('pause');

    $('#carousel-modal').modal('show');

    // resizeModal(imgHeight,imgWidth);
  }

  function getMatchingStories(tagSelected){
    var allStories = JSON.parse(localStorage.getItem('allStories'));
    var storiesMatch = [];
    var storiesToShow = [];

    $.each(allStories, function( index, story ) {
      $.each( story.tag, function( i, storyTag){
        if (!storiesMatch.includes(story.id) && (storyTag === tagSelected || tagSelected === "*" || tagSelected === "")){
          storiesMatch.push(story.id);
          storiesToShow.push(
            '<div class="timeline-content-item" data-timeline="hour-8">'+
              '<span>'+ story.date +'</span>'+
              '<div class="timeline-content-item-reveal">'+
                '<a class="pop">'+
                  '<img src='+ story.image +' alt="'+ story.name +'" data-imageTag='+ story.tag +' data-storyId='+"story_"+story.id+'  >'+
                  '<span>'+ story.name +'</span>'+
                '</a>'+
              '</div>'+
            '</div>'
            );
        }
      })
    })

    localStorage.setItem("next", "0");

    return storiesToShow;
  }

  function appendStoriesGroup(matchingStories){
    var nextCounter = JSON.parse(localStorage.getItem("next"));
    var lowerLimit = nextCounter * storyGroup;
    var higherLimit = storyGroup * (nextCounter+1);
    var firstStory = false;
    var lastStory = false;

    $.each(matchingStories, function(index, filteredStory){

      if(index >= lowerLimit && index < higherLimit ){

        $('.timeline-content-day').append(filteredStory)

        if(index === 0){
          firstStory = true;
        }
        else if(index === matchingStories.length-1){
          lastStory = true;
        }
      }

    });

    // Show Prev or/and Next button if necesary
    firstStory === true ? $('#prev').hide() : $('#prev').show();

    if (higherLimit < matchingStories.length && lastStory === false) {
      $('.timeline-content-day').append('<button id="next" class="btn btn-theme corousel-btn next" >Next</button>');
    };

  }

  //Reorder items
  function reorderItems(tagSelected, event=null, changeTagFilter=false){
    localStorage.setItem("tagSelected", tagSelected);
    var oldStories = $('.timeline-content-item, .allStories');
    var matchingStories;
    var storiesGroup;


    $('#notFoundMessage').hide();
    $('#next').remove();
    oldStories.remove();

    if (changeTagFilter === true){
      // Get all stories with matching tags
      matchingStories = getMatchingStories(tagSelected);

      localStorage.setItem("matchingStories", JSON.stringify(matchingStories));

      if (matchingStories.length === 0){
        $('#prev').hide();
        $('#notFoundMessage').show();

        return false

      }else{
        //Append corresponding stories group
        appendStoriesGroup(matchingStories);
      }

    } else{
      matchingStories = JSON.parse(localStorage.getItem("matchingStories"));
      //Append corresponding stories group
      appendStoriesGroup(matchingStories);
    }

    addMouseEvent();
    addCorouselButtonEvent();
    addFilterEvent();
  }


  function addCorouselButtonEvent(){
    $(".corousel-btn").unbind().on("click", function(e){
      var nextCounter;
      var next = JSON.parse(localStorage.getItem("next"));
      var tagSelected = localStorage.getItem("tagSelected");

      if(e.target.id === "next"){
        nextCounter = next + 1;
        localStorage.setItem("next", nextCounter);
      }else if(e.target.id === "prev"){
        nextCounter = next - 1;
        localStorage.setItem("next", nextCounter);
      }

      tagSelected != undefined ? reorderItems(tagSelected,e) : reorderItems("*",e);
    });

    return false;
  }

  function addMouseEvent(){
    // TODO add this functionality also when click $element
    $(".timeline-wrapper .timeline-content-item > span").on("mouseenter mouseleave focus", function(e){
      $(".timeline-wrapper .timeline-content-item.active span").show();
      $(".timeline-wrapper .timeline-content-item.active").removeClass("active");
      $(this).hide();
      $(this).parent().addClass("active");
    });

    $('.pop, .uploadImage').unbind().on('click', function() {
      // $('.modal').removeClass('imgModal');
      switch ($(this).attr('class').split(" ")[0]) {
        case "pop":
          imageModal($(this));
          break;
        case "uploadImage":
          uploaderModal($(this));
          break;
      }

    });

    return false;
  }

  function addFilterEvent(){
    // filter items when filter link is clicked
    $('#filters a').unbind().on("click",function(e){
      $('#search_filter').val('');
      $('#filters a').removeClass('active');
      $(this).addClass('active');
      var selector = $(this).attr('data-filter');
      reorderItems(selector,null,true);
    });
      return false;
  }


  var storyGroup = 5;

  getAllStories();
  addMouseEvent();
  addCorouselButtonEvent();
  addFilterEvent();
});
