jQuery(document).ready(function($) {

  $("#search_filter").live("keypress", function(e) {
    if (e.keyCode == 13) {
      $('#filters a').removeClass('active');
       var inserted_tag = $(this)[0].value;
        reorderItems(inserted_tag,e,true);
        return false; // prevent the button click from happening
    }
  });

  function resizeModal(imgHeight,imgWidth){

    var maxWidth = $(window).width()*0.9;
    var maxHeight = $(window).height()*0.9;
    var modalHeaderHeight = 60;

    var heightToShowModal = 0;
    var widthToShowModal = 0;
    var heightToShowImgage = 0;
    var widthToShowImage = 0;

    if (maxHeight >= (imgHeight+modalHeaderHeight)*1.15) {
      heightToShowModal = (imgHeight+modalHeaderHeight);
      heightToShowImgage = imgHeight;
    }else {
      heightToShowModal = maxHeight;
      heightToShowImgage = heightToShowModal*0.85;
    }

    $('.modal').css({'maxHeight': maxHeight, 'height': heightToShowModal*1.15, 'maxWidth': maxWidth, 'width': imgWidth});
    $('.modal-dialog').css({'maxHeight': maxHeight, 'height': heightToShowModal, 'maxWidth': maxWidth, 'width': imgWidth});
    $('.modal-content').css({'maxHeight': maxHeight, 'height': heightToShowModal, 'maxWidth': maxWidth, 'width': imgWidth});
    $('.modal-body').css({'maxHeight': maxHeight, 'height': heightToShowModal*0.9, 'maxWidth': maxWidth, 'width': imgWidth});
    $('.modal-body img').css({'maxHeight': heightToShowModal*0.9, 'height': heightToShowImgage, 'maxWidth': maxWidth});

  }

  function uploaderModal(){

    var pathname = window.location.pathname.split('/');
    var user_id = pathname[pathname.length-1];
    var uploadedFiles = [];
    var tagValues = [];

    $('.modal-content').append(
      '<div class="modal-body">'+
        '<div class="closeBtn"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button></div>'+
        '<div class="col-md-8 text-center"><b> Upload Image </b></div>'+
        '<form class="edit_user" id="edit_user_'+user_id+'" enctype="multipart/form-data" action="/users/'+user_id+'/stories" accept-charset="UTF-8" method="post">'+
          '<div class="field">'+
            '<label for="name">Name</label>'+
            '<input size="10" required="required" type="text" value="" name="story[name]" id="story_name">'+
          '</div>'+
          '<div class="field">'+
            '<label for="date">Date</label>'+
            '<input size="10" required="required" type="date" value="" name="story[date]" id="story_date">'+
          '</div>'+
          '<div id="drop" draggable="true">'+
            '<p> Drop Here </p><br>'+
            '<a> Browse </a>'+
            '<input type="file" name="story[avatar]" id="story_avatar" accept="image/*" capture="camera" required="required" />'+
          '</div><br>'+
          '<div class="field" id="tagContainer">'+
            '<label for="tag">Tags</label>'+
            '<input size="10" type="text" name="story[tag]" id="story_tag" required="required" >'+
          '</div><br>'+
          '<div class="field" hidden>'+
            '<label for="user_id">Teller</label>'+
            '<input type="text" name="story[user_id]" value="'+ user_id +'" id="user_id" required="required" >'+
          '</div>'+
          '<input type="submit" name="commit" value="Save" id="submitBtn" >'+
        '</form>'+
      '</div>'
      );

    $('#my-new-modal').modal('show');
    
    resizeModal();

    $(window).keydown(function(event){
    if( event.keyCode == 13 && event.target.id != "story_tag" ) {
      event.preventDefault();
      return false;
    }
  });

    $("form input[type=submit]").click(function() {
      var tags = "";
      $.each(tagValues,function(index,tag){
        tag != "" ? tags += tag + ";" : false;
      })
      $('#story_tag').val(tags);
      $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
      $(this).attr("clicked", "true");
    });

    function createTags(event){
      var $element = $(event.target);
      var val = $element.val().replace('"', '\\"');
      
      if (val.replace(/\s/g, '').length != 0) {

        $('#story_tag').val('')
        $('#tagContainer').append(
          '<div class="tag label label-info" role="alert">'+
            '<strong>'+val+' </strong>'+
            '<button type="button" class="close closeTag" data-dismiss="alert" aria-label="Close">'+
              '<span aria-hidden="true"> &times;</span>'+
            '</button>'+
          '</div>'
          );

        $('.closeTag').on('click',function(event){
          var tagToDelete = event.currentTarget.previousElementSibling.innerText.replace(/\s/g, '');
          
          $.each(tagValues,function(index,tag){
            if(tagToDelete === tag.replace(/\s/g, '')){
              tagValues[index] = "";
            }
          });

        })

        tagValues = [];

        $.each($(".tag strong"), function( index, tag ) { tagValues.push(tag.innerText) });
      }
    
      event.preventDefault();
      return false;
      
    }

    $('#story_tag').on('keypress', function(event) {
      if (event.keyCode == 0 || event.keyCode == 13){
        createTags(event);
      }
    });

    $('#story_tag').focusout(function(event) {
      createTags(event);
    });
  

    $('#drop a').click(function(){
        // Simulate a click on the file input button
        // to show the file browser dialog
        $(this).parent().find('input').click();
    });

    $('#story_avatar').on('change', function(e){

      var tgt = e.target || window.event.srcElement;

      uploadedFiles.push(tgt.files[0]);

      $('#drop a, #drop p').hide();

      $('#drop').append(
        '<ul><li class="working">'+
          '<input type="text" value="0" data-width="48" data-height="48"'+
          'data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" />'+
          '<p><i>'+ tgt.files[0].name+'</i></p>'+
          '<span></span>'+
        '</li></ul>'
      );

    });
    return false;
  };

  function imageModal(event){

    var image = event.find('img');
    var title = image[0].nextElementSibling.innerText;
    var srcImage = image.attr('src');
    var tags = "";
    var imgHeight = image[0].naturalHeight;
    var imgWidth = image[0].naturalWidth;

    if (image.attr('data-imageTag').charAt(0) != "[" ) {
      tags = image.attr('data-imageTag');
    }
    else if (image.attr('data-imageTag').charAt(image.attr('data-imageTag').length-1) == "]"){
      JSON.parse(image.attr('data-imageTag')).map(function (currentValue, index, array){
        tags === "" ? tags = currentValue : tags = tags + ", " + currentValue;
      });
    };

    $('.modal').addClass('imgModal');
    $('.modal-content').append(
      '<div class="modal-body" >'+
      '<div class="modalHeader" >'+
        '<div class="closeBtn"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button></div>'+
        '<div class="col-md-8 text-center"> <b>'+ title +'</b> </div><br>'+
      '</div>'+
        '<img class="modal-image" src="'+ srcImage +'" alt="'+ title +'_my_line">'+
      '</div>'+
      '<div class="modal-footer">'+
        '<div class="col-md-8 text-justify"> <b>Tags:</b> '+ tags +'</div>'+
      '</div>'
    );
    $('#my-new-modal').modal('show');

    // resizeModal(imgHeight,imgWidth);
    
  }

  function getMatchingStories(tagSelected){

    var allStories = JSON.parse(localStorage.getItem('allStories'));
    var storiesMatch = [];
    var storiesToShow = [];

    $.each(allStories, function( index, story ) {
      $.each( story.tag, function( i, storyTag){
        if (!storiesMatch.includes(story.id) && (storyTag === tagSelected || tagSelected === "*" || tagSelected === "")){
          storiesMatch.push(story.id);
          storiesToShow.push(
            '<div class="timeline-content-item" data-timeline="hour-8">'+
              '<span>'+ story.date +'</span>'+
              '<div class="timeline-content-item-reveal">'+
                '<a class="pop">'+
                  '<img src='+ story.image +' alt="'+ story.name +'" data-imageTag='+ story.tag +' >'+
                  '<span>'+ story.name +'</span>'+
                '</a>'+
              '</div>'+
            '</div>'
            );
        }
      })
    })

    localStorage.setItem("next", "0");

    return storiesToShow;
  }

  function appendStoriesGroup(matchingStories){
    
    var nextCounter = JSON.parse(localStorage.getItem("next"));
    var lowerLimit = nextCounter * storyGroup;
    var higherLimit = storyGroup * (nextCounter+1);
    var firstStory = false;
    var lastStory = false;

    $.each(matchingStories, function(index, filteredStory){

      if(index >= lowerLimit && index < higherLimit ){

        $('.timeline-content-day').append(filteredStory)

        if(index === 0){
          firstStory = true;
        }
        else if(index === matchingStories.length-1){
          lastStory = true;
        }
      }
      
    });

    // Show Prev or/and Next button if necesary
    firstStory === true ? $('#prev').hide() : $('#prev').show();

    if (higherLimit < matchingStories.length && lastStory === false) {
      $('.timeline-content-day').append('<button id="next" class="btn btn-theme corousel-btn next" >Next</button>');
    };

  }

  //Reorder items
  function reorderItems(tagSelected, event=null, changeTagFilter=false){

    localStorage.setItem("tagSelected", tagSelected);
    var oldStories = $('.timeline-content-item, .allStories');
    var matchingStories;
    var storiesGroup;
    

    $('#notFoundMessage').hide();
    $('#next').remove();
    oldStories.remove();

    if (changeTagFilter === true){
      // Get all stories with matching tags
      matchingStories = getMatchingStories(tagSelected);

      localStorage.setItem("matchingStories", JSON.stringify(matchingStories));

      if (matchingStories.length === 0){
        $('#prev').hide();
        $('#notFoundMessage').show();

        return false

      }else{
        //Append corresponding stories group
        appendStoriesGroup(matchingStories);
      }

    } else{
      matchingStories = JSON.parse(localStorage.getItem("matchingStories"));
      //Append corresponding stories group
      appendStoriesGroup(matchingStories);
    }

    addMouseEvent();
    addCorouselButtonEvent();
    addFilterEvent();
  }


  function addCorouselButtonEvent(){    

    $(".corousel-btn").unbind().on("click", function(e){
      
      var nextCounter;
      var next = JSON.parse(localStorage.getItem("next"));
      var tagSelected = localStorage.getItem("tagSelected");
      
      if(e.target.id === "next"){
        nextCounter = next + 1;
        localStorage.setItem("next", nextCounter);
      }else if(e.target.id === "prev"){
        nextCounter = next - 1;
        localStorage.setItem("next", nextCounter);
      }
      
      tagSelected != undefined ? reorderItems(tagSelected,e) : reorderItems("*",e);
    });

    return false;
  }

  function addMouseEvent(){
    $(".timeline-wrapper .timeline-content-item > span").on("mouseenter mouseleave focus", function(e){
      $(".timeline-wrapper .timeline-content-item.active").removeClass("active");
      $(this).parent().addClass("active");
    });

    $('.pop, .uploadImage').unbind().on('click', function() {

      $('.modal-content').empty();

      // $('.modal').removeClass('imgModal');

      switch ($(this).attr('class').split(" ")[0]) {
        case "pop":
          imageModal($(this));
          break;
        case "uploadImage":
          uploaderModal($(this));
          break;
      }

    });

    return false;
  }

  function addFilterEvent(){
    // filter items when filter link is clicked
    $('#filters a').unbind().on("click",function(e){
      $('#search_filter').val('');
      $('#filters a').removeClass('active');
      $(this).addClass('active');
      var selector = $(this).attr('data-filter');
      reorderItems(selector,null,true);
    });
      return false;
  }


  var storyGroup = 5;

  addMouseEvent();
  addCorouselButtonEvent();
  addFilterEvent();
});