
<!-- section: team -->
<section id="about" class="section">
<div class="container">
  <h4>Why My Line?</h4>
  <div class="row">
    <div class="span4 offset1">
      <div>
        <h2>Cause we know it's hard <strong>to keep track </strong> on this sweethearts.</h2>
        <p class="justify">
          Here you can tell small stories that shows the highlights of your baby's first stage of life.<br><br>

          You can add storytellers to help you add and share memories together.<br><br>

          One day your baby will relive all messages people leave in this line, and be aviable to continue by himself.<br><br>
        </p>
      </div>
    </div>
    <div class="span6">
      <div class="aligncenter">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/ubdWitOk6zQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
</section>
<!-- end section: team -->
<!-- section: tellers -->
<section id="tellers" class="section orange">
<div class="container">
  <h4>Tellers</h4>
  <!-- Four columns -->
  <div class="row">
    <div class="span2 offset1 flyIn">
      <div class="people">
        <img class="team-thumb img-circle" src="/team/img-1.jpg" alt="" />
        <h3>John Doe</h3>
        <p>
          Dad
        </p>
      </div>
    </div>
    <div class="span2 flyIn">
      <div class="people">
        <img class="team-thumb img-circle" src="/team/img-2.jpg" alt="" />
        <h3>Mike Doe</h3>
        <p>
          Grandpa
        </p>
      </div>
    </div>
    <div class="span2 flyIn">
      <div class="people">
        <img class="team-thumb img-circle" src="/team/img-3.jpg" alt="" />
        <h3>Neil Doe</h3>
        <p>
          Mom
        </p>
      </div>
    </div>
    <div class="span2 flyIn">
      <div class="people">
        <img class="team-thumb img-circle" src="/team/img-4.jpg" alt="" />
        <h3>Mark Joe</h3>
        <p>
          Uncle
        </p>
      </div>
    </div>
    <div class="span2 flyIn">
      <div class="people">
        <img class="team-thumb img-circle" src="/team/img-5.jpg" alt="" />
        <h3>Stephen B</h3>
        <p>
          Friend
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end section: tellers -->
<!-- section: line -->
<section id="line" class="section">
<div class="container clearfix">
  <h4>My Line</h4>
  <!-- portfolio filter -->
  <div class="row">
    <div id="filters" class="span12">
      <ul class="clearfix">
        <li><a data-filter="*">
        <h5>All</h5>
        </a></li>
        <li><a data-filter="first">
        <h5>First</h5>
        </a></li>
        <li><a data-filter="custom">
        <h5>Custom</h5>
        </a></li>
        <li><a data-filter="smiles">
        <h5>Smiles</h5>
        </a></li>
        <li><a data-filter="family">
        <h5>Family</h5>
        </a></li>
      </ul>
    </div>
    <!-- END PORTFOLIO FILTERING -->
  </div>
  <div class="span12">
    <div class="timeline-wrapper clearfix">
        <div class="timeline-content-day">
            <div class="timeline-line"></div>
            <button id="prev" class="btn btn-theme corousel-btn prev" style="display: none;" >Prev</button>
              <!-- portfolio item -->
              <div class="timeline-content-item" data-timeline="hour-8">
                  <span>"2016-10-02"</span>
                  <div class="timeline-content-item-reveal">
                      <a class="pop" >
                          <img src="/line/Week_12+1.jpg" alt="Week_12+1" data-imageTag='["first"]'  data-storyId="story_1">
                          <span>"Week 12+1"</span>
                      </a>
                  </div>
              </div>
              <!-- end portfolio item -->
              <!-- portfolio item -->
              <div class="timeline-content-item" data-timeline="hour-8">
                  <span>"2016-12-02"</span>
                  <div class="timeline-content-item-reveal">
                      <a class="pop" >
                          <img src="/line/First_smile.jpg" alt="First_smile" data-imageTag='["first","smiles"]'  data-storyId="story_2">
                          <span>"First smile"</span>
                      </a>
                  </div>
              </div>
              <!-- end portfolio item -->
              <!-- portfolio item -->
              <div class="timeline-content-item" data-timeline="hour-8">
                  <span>"2017-02-02"</span>
                  <div class="timeline-content-item-reveal">
                      <a class="pop" >
                          <img src="/line/Snail_custom.jpg" alt="Snail_custom" data-imageTag='["custom"]'  data-storyId="story_3">
                          <span>"Snail custom"</span>
                      </a>
                  </div>
              </div>
              <!-- end portfolio item -->
              <!-- portfolio item -->
              <div class="timeline-content-item" data-timeline="hour-8">
                  <span>"2017-05-02"</span>
                  <div class="timeline-content-item-reveal">
                      <a class="pop" >
                          <img src="/line/Holiday.jpeg" alt="Holiday" data-imageTag='["family","custom"]'  data-storyId="story_4">
                          <span>"Holiday"</span>
                      </a>
                  </div>
              </div>
              <!-- end portfolio item -->
              <!-- portfolio item -->
              <div class="timeline-content-item" data-timeline="hour-8">
                  <span>"2017-08-02"</span>
                  <div class="timeline-content-item-reveal">
                      <a class="pop" >
                          <img src="/line/Family.jpeg" alt="Family" data-imageTag='["family","activity"]' data-storyId="story_5">
                          <span>"Family"</span>
                      </a>
                  </div>
              </div>
              <!-- end portfolio item -->

        </div>
    </div>
  </div>
</div>
</section>
<!-- spacer section -->
<section class="spacer bg3">
<div class="container">
  <div class="row">
    <div class="span12 aligncenter flyLeft">
      <blockquote class="large">
         We are the link between our present and your future
      </blockquote>
    </div>
    <div class="span12 aligncenter flyRight">
      <i class="icon-rocket icon-10x"></i>
    </div>
  </div>
</div>
</section>
<!-- end spacer section -->
<!-- section: blog -->
<!-- <section id="blog" class="section">
<div class="container">
  <h4>Blog</h4> -->
  <!-- Three columns -->
  <!-- <div class="row">
    <div class="span3">
      <div class="home-post">
        <div class="post-image">
          <img class="max-img" src="/blog/img1.jpg" alt="" />
        </div>
        <div class="post-meta">
          <i class="icon-file icon-2x"></i>
          <span class="date">June 19, 2013</span>
          <span class="tags"><a href="#">Design</a>, <a href="#">Blog</a></span>
        </div>
        <div class="entry-content">
          <h5><strong><a href="#">New design trends</a></strong></h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
          </p>
          <a href="#" class="more">Read more</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="home-post">
        <div class="post-image">
          <img class="max-img" src="/blog/img2.jpg" alt="" />
        </div>
        <div class="post-meta">
          <i class="icon-file icon-2x"></i>
          <span class="date">June 19, 2013</span>
          <span class="tags"><a href="#">Design</a>, <a href="#">News</a></span>
        </div>
        <div class="entry-content">
          <h5><strong><a href="#">Retro is great</a></strong></h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
          </p>
          <a href="#" class="more">Read more</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="home-post">
        <div class="post-image">
          <img class="max-img" src="/blog/img3.jpg" alt="" />
        </div>
        <div class="post-meta">
          <i class="icon-file icon-2x"></i>
          <span class="date">June 22, 2013</span>
          <span class="tags"><a href="#">Design</a>, <a href="#">Tips</a></span>
        </div>
        <div class="entry-content">
          <h5><strong><a href="#">Isometric mockup</a></strong></h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
          </p>
          <a href="#" class="more">Read more</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="home-post">
        <div class="post-image">
          <img class="max-img" src="/blog/img4.jpg" alt="" />
        </div>
        <div class="post-meta">
          <i class="icon-file icon-2x"></i>
          <span class="date">June 27, 2013</span>
          <span class="tags"><a href="#">News</a>, <a href="#">Tutorial</a></span>
        </div>
        <div class="entry-content">
          <h5><strong><a href="#">Free icon set</a></strong></h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
          </p>
          <a href="#" class="more">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="blankdivider30"></div>
  <div class="aligncenter">
    <a href="#" class="btn btn-large btn-theme">More blog post</a>
  </div>
</div>
</section> -->

</div>
